div#banner_image{
    padding-top: 0px;
    padding-bottom: 50px;
    text-align: center;
     color: #f8f8f8;
     background: url(../Bootstrap_Assignment/intro-bg_1.jpg) no-repeat center center;
     background-size:full;
     height:auto;
}
div#banner_content{
position: relative;
 padding-top: 6%;
 padding-bottom: 6%;
 margin-top: 12%;
 margin-bottom: 12%;
 margin-left: 20%;
 background-color: rgba(0, 0, 0, 0.7);
 max-width: 660px;
}
div.container{
    padding: 10px 0;
     background-color: #101010;
     color:#9d9d9d;
     bottom: 0;
     width: 100%;
}
div.margin{
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
}
.margintop{
    margin-top: 6%;
}
.border{
    margin-top: 6%;
    margin-left: 6%;
}
.footer{
    margin-bottom: 0%;
    width:100%;
}
.form{
    margin-left: 6%;
    margin-right: 4%;
    margin-top: 3%;
    padding-bottom: 8%;
}
#button{
    margin-left: 0%;
}
.table_margin{
    margin-left: 25%;
    margin-top: 6%;
    margin-bottom: 25%;
}
.footer_space{
    margin-top: 75%;
}
.footertop{
    margin-top: 7%;
}
.success{
    margin-left:35%;
    margin-top: 8%;
}
.success1{
    margin-left:33%;
    margin-top:  0%;
}
.h{
    color:black
}
.tablecolors{
    height:300px;
    width:70px;
}